doctype html
html
   head
      title="Info Película"
      link(rel="stylesheet", href="./styles/styleFilm.css")

   body  
      
      h1 #{titulo}
      h2 Director: #{director}
      h3 Descripción: #{descripcion}
      img(src=urlImagen alt=titulo)